body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

.container {
  margin: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  margin: 20px;
  font-size: large;
  font-weight: 800;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

#reset {
  margin: 30px;
}

.pts {
  display: flex;
  gap: 40px;
}

.points {
  display: flex;
}

.txt {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
